<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Modify</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style=" background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=2000 ');">
<div class="container" style="background: #A5E0D2; border: 3px solid #000000">
    <h1>Update Doctor</h1>
    <form action="#" th:action="@{/save/doctor}" th:object="${User}"
          method="POST">
        <br>
        <h5 th:text="${'email: ' + id}"></h5>
        <input type="hidden" th:field="*{id}" th:placeholder="${email}"
               th:value="${email}" class="form-control mb-4 col-4">
        <br>
        <input type="text" th:field="*{password}" placeholder="password"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{name}" placeholder="User name" class="form-control mb-4 col-4">
        <input type="text" th:field="*{surname}" placeholder="User surname" class="form-control mb-4 col-4">
        <input type="text" th:field="*{salary}" placeholder="User salary" class="form-control mb-4 col-4">
        <input type="text" th:field="*{phone}" placeholder="User phone" class="form-control mb-4 col-4">
        <div th:object="${Doctor}">
            <input type="text" th:field="*{degree}" placeholder="User degree" class="form-control mb-4 col-4">
        </div>
        <select class="form-control-sm" id="cname" name="cname" th:selected="*{cname}">
            <div class="col-sm-3" th:object="${Countries}">
                <option th:each="c : ${Countries}"
                        th:value="${c.getId()}"
                        th:text="${c.getId()}"></option>
            </div>
        </select>

        <br>
        <div th:object="${returnDis}">
            <select class="form-control-sm" id="type" name="type" >
                <div class="col-sm-3" th:object="${Diseases}">
                    <option th:each="dis : ${Diseases}"
                            th:value="${dis.getDiseaseCode()}"
                            th:text="${dis.getDiseaseCode()}"
                            th:selected="${returnDis.type}==${dis.getDiseaseCode()}"></option>
                </div>
            </select>
        </div>

        <br>
        <button type="submit" class="btn btn-info col-2">Save
            Changes
        </button>
    </form>

    <hr>
    <form action="/see/users">
        <button type="submit" class="btn btn-primary">See users</button>
    </form>
</div>

</body>
</html>