<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Modify</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body style=" background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=2000 ');">
<div class="container" style="background: #A5E0D2; border: 3px solid #000000; margin-top: 7%">
    <h1>Update Disease</h1>
    <form action="#" th:action="@{/save/discovered}" th:object="${Discover}"
          method="POST">
        <h6 th:text="${'Disease code: '+Discover.disease_code}"></h6>
        <input type="hidden" th:field="${Discover.disease_code}">
        <br>

        <h6 th:text="${'Country: '+Discover.cname}"></h6>
        <input type="hidden" th:field="${Discover.cname}">
        <br>
        <h6>Provide first encountered date:</h6>
        <input type="date" th:default="*{firstEncDate}" name="date" id="date"
               class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Update</button>
    </form>

    <form action="/diseases">
        <button type="submit" class="btn btn-primary">See History</button>
    </form>
</div>

</body>
</html>